#contactus {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30px;
    left: auto;
    right: auto;
}

img {
    border-radius: 10px;
    left: auto;
    right: auto;
}

h1, h2, h3 {
    font-size: 10;
    display: block;
    left: auto;
    right: auto;
}

button {
    border-radius: 5px;
    background-color: aliceblue;
    display: block;
    left: auto;
    right: auto;
}

p {
    color: gray;
    font-display: block;
    display: block;
    left: auto;
    right: auto;
}